
<div style="padding-left: 20px; padding-right: 20px">
    <img class="img-responsive" ng-src="{{event.imageUrl}}" style="display: block"/>
    <button type="button" class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>
    <div class="row">
        <div class="span11">
            <h2>
                {{event.name}}
            </h2>
        </div>
        <!--<button class="btn" ng-disabled="btnDisabled">Disabled</button>-->
    </div>
    <div class="span2">
        <div><strong>Date: {{event.date | date:'mediumDate'}}</strong></div>
        <div><strong>Time: {{event.time}}</strong></div>
    </div>
    <div class="span3">
        <address>
            City: {{event.location.city}} </br>
        </address>
    </div>

    <h3>Sessions</h3>
    Order by: <select ng-model="sortrOder"
                      class="input-small">
                <option selected value="name">Name</option>
                <option value="-upVoteCount">Vote</option>
              </select>
    <ul class="thumbnails">

        <li ng-repeat="session in event.sessions | orderBy:sortOrder" id="session{{session.id}}">
            <div class="row session">
                <div class="span0 well votingWidget">
                    <div class="votingButton" ng-click="voteUp(session)">
                        <i class="icon-chevron-up icon-white"></i>
                    </div>
                    <div class="badge badge-inverse">
                        {{session.upVoteCount}}
                    </div>
                    <div class="votingButton" ng-click="voteDown(session)">
                        <i class="icon-chevron-down icon-white"></i>
                    </div>
                </div>
                <div class="span9 well">
                    <h4 class="well-title">
                        {{session.name}}
                    </h4>
                    <h6 style="margin-top:-10px">{{session.creatorName}}</h6>
                    <span>Duration: {{session.duration | durations}}</span><br />
                    <span>Level: {{session.level}}</span>

                    <p>{{session.abstract}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>


